<ion-tabs class="tabs-icon-top tabs-color-active-calm tabs-stable">
	<ion-tab title=Home icon-off=ion-ios-home-outline icon-on=ion-ios-home ui-sref=tabs.home>
		<ion-nav-view name=home-tab></ion-nav-view>
	</ion-tab>
	
	<ion-tab title=Actions icon-off=ion-ios-information-outline icon-on=ion-ios-information ui-sref=tabs.actions>
		<ion-nav-view name=actions-tab></ion-nav-view>
	</ion-tab>

	<ion-tab title=Buttons icon-off=ion-ios-gear-outline icon-on=ion-ios-gear ui-sref=tabs.buttons>
		<ion-nav-view name=buttons-tab>
		</ion-nav-view>
	</ion-tab>
</ion-tabs>
