<ion-nav-bar class=bar-stable>
	<ion-nav-back-button class="button-icon icon ion-ios-arrow-left text-left">
		Back
	</ion-nav-back-button>

	<ion-nav-buttons side=left>
		<button menu-toggle=left class="button button-clear button-calm icon ion-navicon" ng-hide=$exposeAside.active></button>
	</ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view>
	Teste 1
</ion-nav-view>
